<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-filestack" version="0.0.1">
    <name>Filestack Cordova</name>
    <description>Filestack plugin for Cordova. Available for Android and iOS.</description>
    <license>MIT</license>
    <keywords>cordova, ios, android, filestack</keywords>
    <author>Jennie Lyn Shapiro</author>



    <js-module src="www/FilestackCordova.js" name="device">
        <clobbers target="filestack" />
    </js-module>

    <platform name="ios">
        <dependency id="cordova-plugin-cocoapod-support"/>
        <dependency id="cordova-plugin-add-swift-support"/>

        <pods-config ios-min-version="9.0" use-frameworks="true"/>
        <pod id="FilestackSDK" version="1.1"/>

        <config-file target="config.xml" parent="/*">
            <feature name="FilestackCordova">
                <param name="ios-package" value="FilestackCordova"/>
            </feature>
        </config-file>

        <source-file src="src/ios/FilestackCordova.swift" />
    </platform>

    <platform name="android">

        <framework src="com.filestack:filestack-android:5.0.0-0.3.0" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FilestackCordova">
                <param name="android-package" value="com.meldtables.filestackcordova.FilestackCordova"/>
            </feature>
        </config-file>

        <preference name="APP_LINK_HOST" default="app.meldtables.com" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.meldtables.filestackcordova.EntryActivity">

                <intent-filter android:label="@string/app_name" android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="https" android:host="$APP_LINK_HOST" />
                </intent-filter>

            </activity>

            <provider
                    android:name="com.meldtables.filestackcordova.FileProvider"
                    android:authorities="${applicationId}.picker.provider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/picker_paths" />
            </provider>
        </config-file>

        <source-file src="src/android/picker_paths.xml" target-dir="res/xml" />
        <source-file src="src/android/FileProvider.java" target-dir="src/com/meldtables/filestackcordova" />
        <source-file src="src/android/FilestackCordova.java" target-dir="src/com/meldtables/filestackcordova" />
        <source-file src="src/android/EntryActivity.java" target-dir="src/com/meldtables/filestackcordova" />

    </platform>
</plugin>